# Практическая работа

# Задача

Один из способов повысить эффективность взаимодействия банка с клиентами — отправлять предложение о новой услуге не всем клиентам, а только некоторым, которые выбираются по принципу наибольшей склонности к отклику на это предложение.

Задача заключается в том, чтобы предложить алгоритм, который будет выдавать склонность клиента к положительному или отрицательному отклику на предложение банка. Предполагается, что, получив такие оценки для некоторого множества клиентов, банк обратится с предложением только к тем, от кого ожидается положительный отклик.

Для решения этой задачи загрузите файлы из базы в Postgres.
Эта БД хранит информацию о клиентах банка и их персональные данные, такие как пол, количество детей и другие.

Описание таблиц с данными представлено ниже.

**D_work**

Описание статусов относительно работы:
- ID — идентификатор социального статуса клиента относительно работы;
- COMMENT — расшифровка статуса.


**D_pens**

Описание статусов относительно пенсии:
- ID — идентификатор социального статуса;
- COMMENT — расшифровка статуса.


**D_clients**

Описание данных клиентов:
- ID — идентификатор записи;
- AGE	— возраст клиента;
- GENDER — пол клиента (1 — мужчина, 0 — женщина);
- EDUCATION — образование;
- MARITAL_STATUS — семейное положение;
- CHILD_TOTAL	— количество детей клиента;
- DEPENDANTS — количество иждивенцев клиента;
- SOCSTATUS_WORK_FL	— социальный статус клиента относительно работы (1 — работает, 0 — не работает);
- SOCSTATUS_PENS_FL	— социальный статус клиента относительно пенсии (1 — пенсионер, 0 — не пенсионер);
- REG_ADDRESS_PROVINCE — область регистрации клиента;
- FACT_ADDRESS_PROVINCE — область фактического пребывания клиента;
- POSTAL_ADDRESS_PROVINCE — почтовый адрес области;
- FL_PRESENCE_FL — наличие в собственности квартиры (1 — есть, 0 — нет);
- OWN_AUTO — количество автомобилей в собственности.


**D_agreement**

Таблица с зафиксированными откликами клиентов на предложения банка:
- AGREEMENT_RK — уникальный идентификатор объекта в выборке;
- ID_CLIENT — идентификатор клиента;
- TARGET — целевая переменная: отклик на маркетинговую кампанию (1 — отклик был зарегистрирован, 0 — отклика не было).
    
    
**D_job**

Описание информации о работе клиентов:
- GEN_INDUSTRY — отрасль работы клиента;
- GEN_TITLE — должность;
- JOB_DIR — направление деятельности внутри компании;
- WORK_TIME — время работы на текущем месте (в месяцах);
- ID_CLIENT — идентификатор клиента.


**D_salary**

Описание информации о заработной плате клиентов:
- ID_CLIENT — идентификатор клиента;
- FAMILY_INCOME — семейный доход (несколько категорий);
- PERSONAL_INCOME — личный доход клиента (в рублях).


**D_last_credit**

Информация о последнем займе клиента:
- ID_CLIENT — идентификатор клиента;
- CREDIT — сумма последнего кредита клиента (в рублях);
- TERM — срок кредита;
- FST_PAYMENT — первоначальный взнос (в рублях).


**D_loan**

Информация о кредитной истории клиента:
- ID_CLIENT — идентификатор клиента;
- ID_LOAN — идентификатор кредита.

**D_close_loan**

Информация о статусах кредита (ссуд):
- ID_LOAN — идентификатор кредита;
- CLOSED_FL — текущий статус кредита (1 — закрыт, 0 — не закрыт).

Ниже представлен минимальный список колонок, которые должны находиться в итоговом датасете после склейки и агрегации данных. По своему усмотрению вы можете добавить дополнительные к этим колонки.

    - AGREEMENT_RK — уникальный идентификатор объекта в выборке;
    - TARGET — целевая переменная: отклик на маркетинговую кампанию (1 — отклик был зарегистрирован, 0 — отклика не было);
    - AGE — возраст клиента;
    - SOCSTATUS_WORK_FL — социальный статус клиента относительно работы (1 — работает, 0 — не работает);
    - SOCSTATUS_PENS_FL — социальный статус клиента относительно пенсии (1 — пенсионер, 0 — не пенсионер);
    - GENDER — пол клиента (1 — мужчина, 0 — женщина);
    - CHILD_TOTAL — количество детей клиента;
    - DEPENDANTS — количество иждивенцев клиента;
    - PERSONAL_INCOME — личный доход клиента (в рублях);
    - LOAN_NUM_TOTAL — количество ссуд клиента;
    - LOAN_NUM_CLOSED — количество погашенных ссуд клиента.

Будьте внимательны при сборке датасета: это реальные банковские данные, в которых могут наблюдаться дубли, некорректно заполненные значения или значения, противоречащие друг другу. Для получения качественной модели необходимо предварительно очистить датасет от такой информации.

In [28]:
import pandas as pd

In [29]:
D_clients = 'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/datasets/D_clients.csv'
D_close_loan = 'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/datasets/D_close_loan.csv'
D_job = 'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/datasets/D_job.csv'
D_last_credit = 'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/datasets/D_last_credit.csv'
D_loan = 'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/datasets/D_loan.csv'
D_pens = 'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/datasets/D_pens.csv'
D_salary = 'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/datasets/D_salary.csv'
D_target = 'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/datasets/D_target.csv'
D_work = 'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/datasets/D_work.csv'

In [30]:
D_clients = pd.read_csv(D_clients, delimiter = ',')
D_close_loan = pd.read_csv(D_close_loan, delimiter = ',')
D_job = pd.read_csv(D_job, delimiter = ',')
D_last_credit = pd.read_csv(D_last_credit, delimiter = ',')
D_loan = pd.read_csv(D_loan, delimiter = ',')
D_pens = pd.read_csv(D_pens, delimiter = ',')
D_salary = pd.read_csv(D_salary, delimiter = ',')
D_target = pd.read_csv(D_target, delimiter = ',')
D_work = pd.read_csv(D_work, delimiter = ',')

- AGREEMENT_RK        D_agreement D_target (ID_CLIENT)
- TARGET              D_agreement D_target (ID_CLIENT)
- AGE                 D_clients
- SOCSTATUS_WORK_FL   D_clients
- SOCSTATUS_PENS_FL   D_clients
- GENDER              D_clients
- CHILD_TOTAL         D_clients
- DEPENDANTS          D_clients
- PERSONAL_INCOME     D_salary   (ID_CLIENT)
- LOAN_NUM_TOTAL      D_loan     (ID_CLIENT)
- LOAN_NUM_CLOSED     D_close_loan (ID_LOAN)

In [31]:
D_clients

,ID,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,FL_PRESENCE_FL,OWN_AUTO
0,106805103,42,1,Среднее,Не состоял в браке,1,0,1,0,Московская область,Московская область,Московская область,1,0
1,106809308,28,1,Среднее специальное,Состою в браке,1,1,1,0,Читинская область,Читинская область,Читинская область,0,0
2,106805867,64,0,Среднее специальное,Состою в браке,2,0,1,1,Иркутская область,Иркутская область,Иркутская область,0,1
3,106808779,54,1,Среднее специальное,Состою в браке,0,0,1,0,Новосибирская область,Новосибирская область,Новосибирская область,1,1
4,106814289,26,0,Среднее специальное,Состою в браке,1,1,1,0,Красноярский край,Красноярский край,Красноярский край,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,106814680,26,1,Среднее,Не состоял в браке,1,1,1,0,Чувашия,Чувашия,Чувашия,0,0
15996,106812464,26,0,Среднее специальное,Состою в браке,0,0,1,0,Карелия,Карелия,Карелия,0,0
15997,106809255,30,1,Среднее специальное,Не состоял в браке,0,0,1,0,Белгородская область,Белгородская область,Белгородская область,0,0
15998,106814593,25,0,Среднее специальное,Состою в браке,0,0,1,0,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,0,0
15999,106813640,26,1,Высшее,Не состоял в браке,0,0,1,0,Татарстан,Татарстан,Татарстан,1,0

In [32]:
D_clients['ID_CLIENT'] = D_clients['ID']
D_clients = D_clients[['ID_CLIENT', 'AGE', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL', 'GENDER', 'CHILD_TOTAL', 'DEPENDANTS']]

In [33]:
(D_clients['ID_CLIENT'].value_counts() > 1).sum()

0

Нет дублей

In [34]:
df = D_clients.merge(D_target, on='ID_CLIENT', how='left')

In [35]:
df.head()

,ID_CLIENT,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,AGREEMENT_RK,TARGET
0,106805103,42,1,0,1,1,0,60099204.0,1.0
1,106809308,28,1,0,1,1,1,62244665.0,0.0
2,106805867,64,1,1,0,2,0,61050759.0,0.0
3,106808779,54,1,0,1,0,0,62079659.0,0.0
4,106814289,26,1,0,0,1,1,66583553.0,0.0

In [36]:
(D_salary['ID_CLIENT'].value_counts() > 1).sum()

300

Есть 300 дубликатов. Очистим их

In [37]:
D_salary = D_salary.drop_duplicates(subset='ID_CLIENT', keep="first")

In [38]:
(D_salary['ID_CLIENT'].value_counts() > 1).sum()

0

Очистили. Теперь нет дублей.

In [39]:
df = df.merge(D_salary, on='ID_CLIENT', how='left')

In [40]:
(D_loan.groupby('ID_CLIENT').count().reset_index().value_counts() > 1).sum()

0

In [41]:
D_loan_count = D_loan.groupby('ID_CLIENT').count().reset_index()
D_loan_count = D_loan_count.rename({'ID_LOAN':'LOAN_NUM_TOTAL'}, axis = 1)
D_loan_count = D_loan_count[['ID_CLIENT','LOAN_NUM_TOTAL']]

In [42]:
df = df.merge(D_loan_count, on='ID_CLIENT', how='left')

In [43]:
D_loan_closed = D_loan.merge(D_close_loan, on='ID_LOAN', how='left')

In [44]:
D_loan_closed = D_loan_closed[D_loan_closed['CLOSED_FL'] == 1].groupby('ID_CLIENT').count()\
.reset_index().drop_duplicates(subset='ID_CLIENT', keep="first")

In [45]:
D_loan_closed = D_loan_closed.rename({'CLOSED_FL':'LOAN_NUM_CLOSED'}, axis = 1)
D_loan_closed = D_loan_closed[['ID_CLIENT','LOAN_NUM_CLOSED']]

In [46]:
df = df.merge(D_loan_closed, on='ID_CLIENT', how='left')

In [47]:
df['LOAN_NUM_CLOSED'] = df['LOAN_NUM_CLOSED'].fillna(0)
df['LOAN_NUM_TOTAL'] = df['LOAN_NUM_TOTAL'].fillna(0)

In [48]:
df.isna().sum()

ID_CLIENT              0
AGE                    0
SOCSTATUS_WORK_FL      0
SOCSTATUS_PENS_FL      0
GENDER                 0
CHILD_TOTAL            0
DEPENDANTS             0
AGREEMENT_RK         777
TARGET               777
FAMILY_INCOME        777
PERSONAL_INCOME      777
LOAN_NUM_TOTAL         0
LOAN_NUM_CLOSED        0
dtype: int64

In [49]:
df = df.dropna()

In [52]:
df.to_csv('prepared_data.csv')

## Задание 2

При помощи инструмента Streamlit проведите разведочный анализ данных. В него может входить:

* построение графиков распределений признаков
* построение матрицы корреляций
* построение графиков зависимостей целевой переменной и признаков
* вычисление числовых характеристик распределения числовых столбцов (среднее, min, max, медиана и так далее)
* любые другие ваши идеи приветствуются!

[Пример Streamlit-приложения](https://rateyourflight.streamlit.app) с разведочным анализом, прогнозом модели и оценкой ее результатов.

Задание реализовано в main.py